<form action="<%= formURL %> " method="post">
    <fieldset class="form__radio-container">
        <legend>Hoe groot mogen de teams zijn?</legend>

        <div>
            <input class="input input--custom" type="radio" id="teamSize-2" name="teamSize" value="2" checked="true">
            <label for="teamSize-2"><span>Twee</span><span>studenten</span></label>
        </div>

        <div>
            <input class="input input--custom" type="radio" id="teamSize-3" name="teamSize" value="3">
            <label for="teamSize-3"><span>Drie</span><span>studenten</span></label>
        </div>

        <div>
            <input class="input input--custom" type="radio" id="teamSize-4" name="teamSize" value="4">
            <label for="teamSize-4"><span>Vier</span><span>studenten</span></label>
        </div>
    </fieldset>

    <% if (isPopup) { %>
    <div>
        <button type="submit">Start</button>
        <button id="close-form">Annuleren</button>
    </div>
    <% } else { %>

    <div class="btn--container btn--container__column">
        <button type="submit">Start</button>
        <a href='<%= prevURL %> '>Annuleren</a>
    </div>
    <% } %>
</form>