<header>
    <figure>
        <picture class="box-shadow">
            <img src="../public/<%= userData.user.profile_pic %> " alt="Profiel foto van <%= userData.user.name %> ">
        </picture>

        <figcaption>

            <p><%= userData.user.name %> </p>

            <% if (userData.user.type == "teacher") { %>
            <span><img src="../public/images/icons/check-icon.svg" alt="Checkmark icon"></span>
            <% } %>

        </figcaption>
    </figure>
</header>