<header>
    <figure>
        <picture class="box-shadow">

            <img src="<%= userData.profile_pic %>" alt="Profiel foto van <%= userData.name.first %>">
        </picture>

        <figcaption>
            
                <p><%= userData.name.first %> <%= userData.name.last %></p>
            <span><img src="../../public/images/icons/check-icon.svg" alt="Checkmark icon"></span>
        </figcaption>
    </figure>
</header>