<%- include ('./partials/head') -%>

<body>
    <%- include ('./partials/title-banner') -%>

    <main class="form--overview">
        <form action="/users/login" method="POST">
            <%- include ('./partials/messages')-%>

            <fieldset>

                <legend>Welkom!</legend>
                <%- include ('./partials/messages')-%>

                <label for="username">Gebruikersnaam</label>
                <input type='username' class="input input--normal" id='username' name="username" placeholder='gebruikersnaam'>
                <label for="password">Wachtwoord</label>
                <input type='password' class="input input--normal" id='password' name="password" placeholder='*************'>
            </fieldset>

            <div class="btn--container btn--container__column">
                <button type="submit">Inloggen</button>
                <a href='./register'>Account aanmaken</a>
            </div>
        </form>
    </main>
</body>