<%- include ('./partials/head') -%>
<body>
        <form action="/users/login" method="POST">
            <fieldset>
                <legend>Login</legend>
                <input type='username' id='username' name="username" placeholder='Username'>
                <input type='password' id='password' name="password" placeholder='Password'>
                <button type="submit">Login</button>
            </fieldset>         
        </form>
        <a href='./register'><button id='switch'>Create Account </button></a>
</body>
