<%- include ('../partials/head.ejs') -%>

<body class="form--overview">
    <%- include ('../partials/title-banner.ejs') -%>

    <main>

        <h2>Success!</h2>

        <p><%= createDoc %> is successvol aangemaakt en toegevoegd aan de database.</p>

        <div class="btn--container btn--container__column">
            <a class="btn" href='/maintenance'>Terug naar het overzicht</a>
        </div>
    </main>
</body>