<%- include ('../partials/head.ejs') -%>

<body>
    <%- include ('../partials/title-banner.ejs') -%>

    <main class="form--overview">

        <% if (course) { %>
            <%- include ('../cms/partials/course-form.ejs') -%>
            
        <% } else { %>
            <%- include ('../cms/partials/class-form.ejs') -%>
        <% } %>

        
    </main>

    <script src="../public/js/cms-script.js"></script>
</body>