<%- include ('../partials/head.ejs') -%>

<body>
    <%- include ('../partials/title-banner.ejs') -%>

    <main class="form--overview">

        <%- include ('../cms/partials/course-form.ejs') -%>
        
    </main>

    <script src="../public/js/cms-script.js"></script>
</body>