<%- include ('../partials/head.ejs') -%>

<body>
    <%- include ('../partials/title-banner.ejs') -%>

    <main>

        <h2>Welke <%= topic %>  wil je verwijderen?</h2>

        <%- include ('../cms/partials/overview-form.ejs') -%>
        
    </main>
</body>