/* =============================================================================
  #TOOLS
============================================================================= */
html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }

:root {
  --primary-color: #FFF021;
  --secondary-color: #0A0A0A;
  --white-color: #FFFFFF;
  --grey-color: #E6E6E6;
  --grey-text-color: #888888;

  --border-radius: 6px;
  --border-settings: 3px solid #0A0A0A;

  --default-padding: 24px;
  --default-big-padding: 40px;

  --image-opacity: 15%;

  --error-color: #D10808;

  --cmd-color-orange: #FF9921;
  --cmd-color-blue: #63C9FE;
  --cmd-color-pink: #FF70C3;
  --cmd-color-green: #74FF21;
}
/* =============================================================================
  #GENERAL
============================================================================= */
* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

html {
  min-height: 100%;
  height: 100%;

  font-size: 16px;
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;

  color: var(--secondary-color);
  font-size: 16px; font-size: 1.6rem;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--white-color);

  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100%;
}

img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
}

/* =============================================================================
  #TYPOGRAPHY
============================================================================= */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1.1;
}

/* Heading 1 */
h1 {
  font-size: 24px; font-size: 2.4rem;
}

/* Heading 2 */
h2, legend {
  font-size: 20px; font-size: 2.0rem;

  padding-bottom: 14px;
  margin-bottom: 20px;

  border-bottom: 3px solid var(--grey-color);
}

fieldset legend {
  width: 100%;
  font-weight: 700;
}

/* Heading 3 */
h3 {
  font-size: 16px; font-size: 1.6rem;
}

a {
    /* color: #549fd7; */
    text-decoration: none;
}

strong {
    font-weight: 700;
}

em, i {
    font-style: italic;
}

ul, ol {
  list-style: none;
  padding-left: 0;
}

/* =============================================================================
  #MAIN
============================================================================= */
main {
  position: relative;

  padding: var(--default-padding) 0 110px 0px;
  margin: 0 var(--default-padding);
}

  main section + section {
    margin-top: var(--default-big-padding);
  }

.register  {
  padding-bottom: var(--default-padding);
}

/* =============================================================================
  #DEFAULT GRID
============================================================================= */
.grid {
  display: grid;
  gap: 20px;
  grid-auto-rows: min-content;
}

  .grid li {
      position: relative;
  }

  .grid--img li {
      max-width: 70px;
      max-height: 70px;
  }

    .grid li a:hover {
      transform: scale(1.02);
    }

    /* little description or info about item */
    .grid li a > div > p {
      font-size: 14px; font-size: 1.4rem;
      color: var(--grey-text-color);
    }

/* =============================================================================
  #GRID LIST
============================================================================= */
.grid--list {
  grid-template-columns: 1fr;
}

  .grid--list li a, .grid--list .box-shadow {
    display: flex;
    align-items: center;
    flex-direction: row;

    padding: 14px;
    height: 100%;
    
    color: var(--secondary-color);

    background-color: var(--white-color);

    border-radius: var(--border-radius);

    transition: all .25s ease-in-out;
  }

    /* Course profile pic */
    .grid--list li a > p, .grid--list .box-shadow > p {
      display: flex;
      align-items: center;
      justify-content: center;

      margin-right: 16px;

      width: 45px;
      height: 45px;

      border-radius: 50%;

      font-size: 18px;
      font-size: 1.8rem;
      font-weight: 700;
      text-align: center;
      color: var(--white-color);

      background-color: var(--secondary-color);
    }


/* =============================================================================
  #DASHBOARD GRID LIST
============================================================================= */
.dashboard .grid--list li a {
  padding: 20px 16px;
}

.dashboard .box-shadow::after {
  display: none;
}

  .dashboard .grid--list li a > div {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

    .dashboard .grid--list li a > div p {
      margin-left: 9px;
      padding: 4px 8px;

      border-radius: 20px;

      color: white;
      font-weight: 600;
    }

    .dashboard .grid--list li:first-of-type a > div p {
      background-color: var(--cmd-color-blue);
    }

    .dashboard .grid--list li:first-of-type a > div p {
      background-color: var(--cmd-color-orange);
    }
/* =============================================================================
  #GRID OVERVIEW
============================================================================= */
.grid--overview {
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}

  .grid--overview li a {
    display: block;

    color: var(--secondary-color);

    background-color: var(--white-color);

    border-radius: var(--border-radius);

    transition: all .25s ease-in-out;
  }

    .grid--overview li a > p {
      padding: 10px 0px;

      font-weight: 700;
      font-size: 14px; font-size: 1.4rem;
      text-align: center;
      color: var(--white-color);

      border-radius: 0 0 var(--border-radius) var(--border-radius);

      background-color: var(--secondary-color);
    }

    .grid--overview li a > div {
      padding: 18px 14px;
    }

/* =============================================================================
  #GRID W ONLY IMAGES
============================================================================= */
.grid--img {
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
}

  .grid--img li a {
    position: relative;
    padding: 0;
    cursor: default;
    /* min-height: 100%; */
  }

  .grid--img li a:hover {
    transform: none;
  }

    .grid--img li a > img {
      width: 100%;
      height: 100%;
      min-height: 60px;

      object-fit: cover;
      border-radius: var(--border-radius);
    }

/* =============================================================================
  #TEAM DETAILS
============================================================================= */
.grid--list__team-members .box-shadow {
    padding: 12px 14px;
}

  .grid--list__team-members picture {
    display: block;

    width: 70px;
    min-width: 70px;
    height: 70px;

    border: var(--border-settings);
    border-radius: var(--border-radius);

    margin-right: 14px;
  }

    .grid--list__team-members picture > img {
      width: 100%;
      height: 100%;

      object-fit: fill;
      border-radius: 3px;
    }

  .grid--list__team-members div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

    .grid--list__team-members div > h3 {
      position: relative;
      display: inline-block;
      padding: 6px 8px;
      font-size: 14px; font-size: 1.4rem;

      background-color: var(--secondary-color);
      color: var(--white-color);
      border-radius: 5px;

      margin-bottom: 6px;
      margin-right: auto;
    }

    .grid--list__team-members div > h3::before {
      content: "";
      position: absolute;

      left: -8px;
      top: 50%;

      transform: translateY(-50%) rotate(-90deg);
      
      width: 12px;
      height: 5px;

      background-color: transparent;
      background-image: url("../images/icons/name_tag-triangle-big.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .grid--list__team-members div > p {
      display: inline-block;
      
      padding: 2px 8px;

      text-align: center;
      font-size: 14px; font-size:  1.4rem;
      font-weight: 700;

      border: var(--border-settings);
      border-radius: 10px;
      margin-right: auto;
    }

/* =============================================================================
  #CLASS HOME
============================================================================= */
.home {
  display: flex;
  align-items: center;
}

  .home > div:first-of-type {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

    .home > div:first-of-type > .btn {
      position: relative;

      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      bottom: auto;
    }

    .home > div:first-of-type > .btn + .btn {
      margin-top: 12px;
    }